<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>My Template</title>
    <meta name="description" content="A Template for my Back-End Projects">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Courgette|Croissant+One">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class ="container-fluid">
        <div id="application"></div>
        <div class="row">
          <div class="col-md-12 text-center" id="info">
            Coded by <a href="https://www.freecodecamp.com/dereje1" target="_blank">DGetahun</a>
          </div>
        </div>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
