<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener Microservice</title>
    <meta name="description" content="A URL Shortener Microservice">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Courgette|Croissant+One">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
      <div class ="container-fluid">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center" id="instructions">
            <h1>URL Shortener Microservice</h1>
            <h3>User Stories</h3>
            <ol class="list-group">
                <li class="list-group-item">I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
                <li class="list-group-item"> If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
                <li class="list-group-item">When I visit that shortened URL, it will redirect me to my original link.</li>
            </ol>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Example Input</strong></h3>
                </div>
                <div class="panel-body">
                  <form class="form-inline" id="urlSubmitForm">
                        <label class="mr-sm-3" for="inlineFormCustomSelect">Paste Valid URL to Shorten</label>
                        <input type="text" class="form-control" id="usr">
                        <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                  <BR>
                  <h5><strong>OR paste query directly into browser in the format below:</strong></h5>
                  <p class="usage"><strong>https://shorten-my-link.glitch.me/input/https://www.freecodecamp.org</strong></p>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title"><strong>Example Output</strong></h3>
                <div class="panel-body">
                  <p class="usage"><strong>Original URL &nbsp: https://www.freecodecamp.org<BR>
New ID            &nbsp &nbsp &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp: U5eFu<BR>
New Link    &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp: https://shorten-my-link.glitch.me/U5eFu<BR>
Created     &nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: Tue Sep 26 2017 01:06:06 GMT+0000 (UTC)</strong></p>
                </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center" id="info">
            Coded by <a href="https://www.freecodecamp.com/dereje1" target="_blank">DGetahun</a>
          </div>
        </div>
    </div>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/client.js"></script>

  </body>
</html>
